img{
  width: 80%;

}

hr {
  margin-top: 40px;
}
.jumbotron{
  margin-bottom:0 !important;
  background:rgba(255,255,255,.85) !important;
  border: 0;
  border-radius: 0;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    background:rgb(20,20,20);
}
.parallax__group {
    height: 260px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease 0s;
    z-index:100;
    height:50%;    opacity: .95;

}

.parallax__layer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.parallax__layer--base {
    transform: translateZ(0px);
    z-index: 4;
}
.parallax__layer--back {
    transform: translateZ(-100px) scale(1.5);
    z-index: 3;
    height:100%;
}

body, html {
    overflow: hidden;
}
.parallax {
    font-size: 100%;
}

#group1 {
    z-index: 3;
    height:30%;
}



#group1 .parallax__layer--back {
}


.navbar-brand {
  margin-bottom: 0;
}

header h1.title{
  
  font-size: 8vw;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;

}

.rainbow-text {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);

  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  line-height: 1.15em;
  padding-left: 10px;
  font-size: 1.3em;
}

@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}

header{


}

body {
  font-size: 1.2em;
}
body, h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin-top: 1.4em;
  margin-bottom: .6em;
}

h3 {
  margin-top: 1.1em;
  margin-bottom: .5em;
}

.container-wrapper {
  padding-bottom: 58px;
}

footer {
  border-top: 1px solid #eee;
  padding: 15px;
  text-align: center;
  background-color: white;
}

.logo{
width: 90px;
max-width: 100%;
height: auto;
margin: 20px;
display:inline-block;
}

.person + .person:before {
  content: ", "
}